
<head>
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>
<body>
    <center><h1 style="margin:5;">Your Twitter Search</h1></center>
    <div class="jumbotron" style="margin: 40px;">
        <ul>
            {% for key, value in all_tweets.items %}
            <li>
                <img src="{{ value.url }}" />
                <h4>{{ value.user_name }}</h4>
                <p>Tweet: {{ value.text }}</p>
                <p>Time: {{ value.created_at }}</p>
                <p>Likes: {{ value.favorite_count }}</p>
                <p>Retweets: {{ value.retweet_count }}</p>
            </li>
            <br />
            {% endfor %}
        </ul>
    </div>
</body>